<mat-tab-group mat-stretch-tabs >
    <mat-tab label="Dalam Proses" >
        <ng-template matTabContent>
            <tickets-component [isSolved]="false"></tickets-component>
        </ng-template>
    </mat-tab>
    <mat-tab label="Selesai" >
        <ng-template matTabContent>
            <tickets-component [isSolved]="true"></tickets-component>
        </ng-template>
    </mat-tab>
    <mat-tab label="History" *ngIf="!isUser">
        <ng-template matTabContent>
            <tickets-component [isSolved]=""></tickets-component>
        </ng-template>
    </mat-tab>
</mat-tab-group>