:host .container{
    row-gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 8% 82% 10%;
    grid-template-areas: 
    "button"
    "main"
    "paginator";
}
.item-button {
    grid-area: button;
    justify-self: start;
}

.item-table {
    grid-area: main;
}
.item-paginator {
    width: max-content;
    align-items: center;
}
