<!-- container -->
<div *ngIf="tickets" class="container">
  <!-- button -->
  <div class="item-button" style="display: grid; grid-template-columns: 15% 45% 40%;">
        <div style="width: 100%;">
          <mat-form-field appearance="fill" [formGroup]="dateFilter" style="width: 280px;">
            <mat-label>Filter Tanggal (Awal s.d Akhir)</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Tanggal Mulai" formControlName="startDate" readonly>
              <input matEndDate placeholder="Tanggal Selesai" formControlName="endDate" readonly (dateChange)="loadData(null)">
            </mat-date-range-input>
            <mat-hint>Klik untuk mengisi range</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker ></mat-date-range-picker>
          </mat-form-field>
            <!-- <p>myForm value: {{ dateFilter.value | json }}</p>
            <p>myForm status: {{ dateFilter.status | json }}</p> -->

        </div>
        <div>
        </div>
        <!-- search -->
        <div style="display: grid; grid-template-columns: 40% 60%; justify-self: end;">
          <mat-form-field >
            <mat-select placeholder="Filter Kolom" [formControl]="filterColumn" (change)="loadData(null)">
              <mat-option *ngFor="let option of options" [value]="option.value">{{option.key}}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field>
            <input type="text" matInput placeholder="Cari" (keyup)="onFilterTextChanged($any($event.target).value)"
            [formControl]="filterQ">
            <button matSuffix mat-icon-button aria-label="Search" >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>

        </div>
  </div>

<!-- item table -->
    <ng-container *ngIf="!tickets || tickets == null" class="item-table">
      <mat-spinner></mat-spinner>
    </ng-container>
    <ng-container *ngIf="tickets.length < 1" class="item-table">
      <h1>Hasil pencarian: Nihil</h1>
    </ng-container>
    <ng-container *ngIf="tickets.length > 0" class="item-table">
      <div *ngFor="let ticket of tickets">
        <ticket-panel [ticket]="ticket"></ticket-panel>
      </div>
    </ng-container>
  </div>
  <!-- paginator -->
  <div class="item-paginator">
    <mat-paginator [hidden]="!tickets" (page)="getData($event)"
        [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons>
    </mat-paginator>
  </div>