:host {
    display: grid;
}
.mainPanel {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#item-a {
    justify-self: start;
}
#item-b {
    justify-self: end;
}
#item-c {
    grid-column-start: 1;
    grid-column-end: 4;
}

.search-container {
    display: flex;
    align-items: center;
  }
  
  .search-field,
  .options-field {
    flex: 1;
    margin-right: 10px; /* Add some spacing between the fields */
  }