  <div *ngIf="!tickets" >
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="tickets">
    <button mat-raised-button color="primary" (click)="openForm(null)"
      matTooltip="Tambah Tiket" *ngIf="!isSolved">
        Buat Tiket Baru
    </button>
    <mat-form-field>
      <input matInput placeholder="Search" [(ngModel)]="searchTerm">
      <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
      <mat-select placeholder="Options" [(value)]="selectedOption">
        <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngFor="let ticket of tickets">
      <ticket-panel [ticket]="ticket"></ticket-panel>
    </div>
  </div>
  <mat-paginator [hidden]="!tickets"
      (page)="getData($event)"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons>
    </mat-paginator>