  <div *ngIf="!tickets" >
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="tickets">
    <button mat-raised-button color="primary" (click)="openForm(null)"
      matTooltip="Tambah Tiket" *ngIf="!isSolved">
        Buat Tiket Baru
    </button>

    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let tkt of tickets" (opened)="toggleTable()">
        <mat-expansion-panel-header>
            <mat-panel-title>{{tkt.name}}</mat-panel-title>
            <mat-panel-description>{{tkt.creator.company + '-' + tkt.creator.name}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="mainPanel">
          <div class="item" id="item-a">
            <p>{{tkt.problem}}</p>
          </div>
          <div class="item" id="item-b">
            <button mat-stroked-button (click)="toggleTable()">
              {{ showTable ? 'Hide Table' : 'Show Table' }}
            </button>
          </div>
          <!-- Add the table inside ng-container to conditionally render it -->
          <div id="item-c" class="item">
            <ng-container *ngIf="showTable">
              <!-- lazy loading -->
              <ng-container *ngComponentOutlet="replyTableComponent; injector: parentInjector" [solved]="true"></ng-container>
                <!-- Your table content goes here -->
            </ng-container>
          </div>

        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-paginator [hidden]="!tickets"
      (page)="getData($event)"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons></mat-paginator>
