/* set container for 2 column, left is for input text and right is for submit button */
container {
    grid-template-columns: minmax(100,500) 1fr;
    column-gap: 10px;
}
/* set item class to 4fr and 1fr */
#item-a {
    padding-left: 10px;
    padding-right: 10px;
}
#item-b {
    padding-left: 10px;
    padding-right: 10px;
}