.user-form {
    display: grid;
    row-gap: 5px;
    grid-template-columns: 10px [col-start] [col-end] 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .input-container {
    /* Configure the size of the input */
    min-width: 300px;
    max-width:450px ;
    max-height: 40px;
    min-height: 20px;
    justify-self: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    padding-top: 2px;
  }
  
  .user-form .mat-form-field {
    width: 100%; /* Ensure the mat-form-field fills the container */
  }
