<form [formGroup]="userForm" class="form">
    <mat-form-field appearance="fill" class="item">
      <input matInput #username placeholder="Username" formControlName="username"
      matTooltip="alphanumerik tanpa spasi, boleh menggunakan titik. maksimal 20 karakter">
      <mat-hint>Username: {{username.value.length }} / 20</mat-hint>
    </mat-form-field>
    <mat-form-field  appearance="fill" class="item">
      <input matInput #pwd placeholder="Password" formControlName="password" >
      <mat-hint>Password: {{pwd.value.length }} / 20</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill" class="item">
      <input matInput placeholder="Nama" formControlName="name" >
    </mat-form-field>    
    <mat-form-field appearance="fill" class="item">
      <input matInput placeholder="Perusahaan" formControlName="company" >
    </mat-form-field>
    <mat-form-field appearance="fill" class="item">
      <mat-select placeholder="Role" formControlName="role">
        <mat-option *ngFor="let option of options" [value]="option.value">{{option.key}}</mat-option>
      </mat-select>    
    </mat-form-field>
    <mat-form-field appearance="fill" class="item">
      <input matInput placeholder="Kontak" formControlName="contact" >
    </mat-form-field>    
    <mat-slide-toggle #isActive formControlName="isActive">Status</mat-slide-toggle>
    <mat-hint>{{isActive.value}}</mat-hint>
  
    <!-- add more fields for name, company, role, contact and jwtToken -->
      <button type="submit" mat-raised-button color="primary" 
      [disabled]="userForm.invalid" [hidden]="userForm.invalid" (click)="onSubmit()">{{ iduser ? 'Update' : 'Buat User'}}</button>
      <button type="button" mat-raised-button color="warn"(click)='closeDialog()' >Batal</button>
  </form>

<!-- <p>{{ userForm.value | json }}</p>
<p>myForm status: {{ userForm.status | json }}</p> -->