.main-container {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-areas: "left right";
    column-gap: 2px;
    height: 100vh;
}
.left-block {
    grid-area: left;
    background-color: blue;
    display: grid;
    grid-template-rows: 1fr 12fr;
}
.right-block {
    grid-area: right;
    background-color: red;
}