<button mat-raised-button color="primary" (click)="openForm()" style="height: 5%;"
*ngIf="user.role === 'Client'">Create New</button>

<div *ngIf="chatTabs">
    <mat-drawer-container >
        <mat-drawer mode="side" opened class="sidenav" autosize style="display: flex; min-width: fit-content;">
            <mat-button-toggle-group vertical [value]="selectedId" [formControl]="groupToggle" (change)="onSelectionChange($event)">
                <ng-container *ngFor="let tab of chatTabs">
                    <div style="display: flex;">
                        <mat-button-toggle class="nav-button" value="{{tab.id}}" style="display: flex;"
                        [style.background-color]="tab.updateCount > 0 ? 'rgb(92, 210, 230)': 'rgb(255, 255, 255)'"
                        class="button-label">
                                {{tab.name}} - {{tab.company}} {{ tab.updateCount > 0 ? '[' + tab.updateCount + ']' : '' }} 
                        </mat-button-toggle>
                        <button mat-raised-button color="warn" type="button" *ngIf="tab.triggerCountdown"
                        [style.background-color]="tab.triggerCountdown ? 'red': ''" (click)="stopCountDown(false, tab.id)" class="button-trigger">
                            {{tab.triggerCountdown ? tab.countDown : 'null'}}
                        </button>
                    </div>
                    </ng-container> 
            </mat-button-toggle-group>
        </mat-drawer>
        <mat-content-drawer>
            <div *ngIf="currentTab">
                <chat-component [ticketdata]="currentTab.ticket" [isMainRoom]="currentTab.name === 'mainRoom'"
                    (startTrigger)="childStart($event)"></chat-component>
            </div>
        </mat-content-drawer>
      </mat-drawer-container>
</div>