<mat-accordion >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>{{ticket.dokumen.nama}}</mat-panel-title>
          <!-- <mat-panel-description>{{ticket.creator.company + '-' + ticket.creator.name + ' ---- ' + ( ticket.createdAt | date: 'dd-MM-yyyy HH:mm:ss')}}</mat-panel-description> -->
      </mat-expansion-panel-header>
      <div class="container">
        <div id="item-a">
          <p>{{ticket.problem + ' '+ ticket.id}}</p>
        </div>
        <div id="item-b">
          <button mat-stroked-button (click)="toggleTable()">
            {{ showTable ? 'Sembunyikan' : 'Lihat Percakapan' }}
          </button>
        </div>
        <!-- Add the table inside ng-container to conditionally render it -->
        <div id="item-c" >
          <ng-container *ngIf="showTable">
              <!-- Your table content goes here -->
              <table>
                <thead>
                    <tr>
                      <th> waktu</th>
                      <th>Person</th>
                      <th> </th>
                      <th> message </th>
                    </tr>
                </thead>
                <tbody *ngIf="ticket.messages">
                  <tr *ngFor="let item of messages">
                    <td>{{item.time | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{item.user.name}}</td>
                    <td> : </td>
                    <td>{{item.message}}</td>
                  </tr>
                </tbody>
              </table>
          </ng-container>
        </div>
      </div>
    </mat-expansion-panel>
</mat-accordion>