<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="main-form">
  <mat-form-field appearance="fill" id="item-1">
    <mat-label>Kata Sandi Baru</mat-label>
    <input matInput formControlName="newpw1" type="password" placeholder="Kata Sandi Baru">
  </mat-form-field>
  <mat-form-field appearance="fill" id="item-2">
    <mat-label>Konfirmasi Kata Sandi Baru</mat-label>
    <input matInput formControlName="newpw2" type="password" placeholder="Konfirmasi Kata Sandi Baru">
  </mat-form-field>
  <mat-form-field appearance="fill" id="item-3">
    <mat-label>Kata Sandi Saat Ini</mat-label>
    <input matInput formControlName="oldpw" type="password" placeholder="Kata Sandi Saat Ini">
  </mat-form-field>
    <div id="item-4">
        <button class="button" mat-raised-button color="primary" type="submit" *ngIf="passwordForm.valid" >Simpan</button>
        <button class="button" mat-raised-button color="warn" (click)="closeDialog()">Batal</button>
    </div>
  </form>
  <p>myForm value: {{ passwordForm.value | json }}</p>
<p>myForm status: {{ passwordForm.status | json }}</p>