.maincontainer {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: "left content right";
    height: auto;
    align-items: center;
}
.left {
    grid-area: left;
    white-space: nowrap;
    width: auto;
    display: table-cell;
}
.content {
    grid-area: content;
}
.right {
    grid-area: right;
    white-space: nowrap;
    width: auto;
    display: table-cell;
}