.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #item-a {
    flex: 1;
    margin-right: 10px;
  }
  
  #item-b {
    flex: 3;
    display: flex;
    align-items: center;
  }
  
  #item-b .mat-form-field {
    flex: 1;
    margin-right: 10px;
  }
  
  #item-b input {
    width: 100%;
  }
  
  #item-b button {
    flex: 0;
  }