<button mat-raised-button color="primary" (click)="newReply()" matTooltip="Tambah Tanggapan" *ngIf="!solved">
    Tambah Baru
</button>
<div class="form-container" *ngIf="showForm">
  <input type="text" placeholder="Masukkan sesuatu" [(ngModel)]="inputValue" />
  <button (click)="sendData()">Kirim</button>
</div>
<div *ngIf="!replies">
   <h2>Belum ada tanggapan...</h2>
</div>
<!-- kalau sudah ada reply buat tabel -->
<table mat-table [dataSource]="replies" class="mat-elevation-z8" [hidden]="!replies">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef style="width: 1% !important;">Nomor</th>
    <td mat-cell *matCellDef="let rpl" class="tcenter">{{rpl.id}}</td>
  </ng-container>

  <!-- Waktu tanggapan -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef >Waktu Tanggapan</th>
    <td mat-cell *matCellDef="let rpl" >{{rpl.createdAt | date: 'dd-MM-yy HH:mm'}}</td>
  </ng-container> 

  <!-- Isi Pesan -->
  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef>Pesan</th>
    <td mat-cell *matCellDef="let rpl">{{rpl.message}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
