<div class="container">
  <!-- INI KONTEN INTI -->
  <div class="textlist">
    <!-- tabel pesan -->
    <div class="messagetable mat-elevation-z8">
      <table style="width: 100%;">
        <thead style="background-color: rgb(48, 133, 195);position: sticky;top:0;">
          <th align="center" colspan="2" style="color: rgb(250, 242, 211);" >Pesan</th>
        </thead>
        <tbody >
          <ng-container *ngIf="ticketdata.messages">
            <tr *ngFor="let repli of ticketdata.messages" matTooltip="{{repli.time | date:'dd/MM/yyyy hh:mm:ss'}}"
            matTooltipPosition="right" matTooltipHideDelay="100" class="row-message" matRipple >
              <td>{{(repli.user.username === user.username) ? 'Me' : repli.user.name}}</td>
              <td>:</td>
              <td>{{repli.message}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <!-- tombol action -->
    <div class="counter-button" *ngIf="!isMainRoom">
        <!-- kalau untuk selain user, bisa trigger mulai close -->
        <button mat-raised-button *ngIf="!counterStart && user.role !== 'Client'" color="accent"
          (click)="startCountDown()" type="button" >
          Trigger Start
        </button>

        <!-- setelah counter 0, otomatis close, user bisa close instan -->
        <button mat-raised-button color="primary" type="button" *ngIf="user.role === 'Client'" (click)="approveAnswer()">
          Tutup Tiket
        </button>
    </div>
    <!-- input message -->
      <div class="inputMessage">
        <div class="form-field">
          <mat-form-field class="input-form">
            <mat-label>Masukkan pesan anda</mat-label>
                <textarea id="message" name="message" matInput type="text"
                [formControl]="message" placeholder="type a text" cdkTextareaAutosize
                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                <button *ngIf="message.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetInput()">
                  <mat-icon>close</mat-icon>
                </button>
          </mat-form-field>
        </div>
        <div class="send-button">
          <button *ngIf="message.value" mat-raised-button color="accent" type="button" id="send-button" (click)="sendMessage()">
              <mat-icon>send</mat-icon>
          </button>
        </div>
    </div>
  </div>
</div>
