<div class="container">
  <div class="textlist">
    <table>
      <thead>
        <head>some message</head>
      </thead>
      <tbody>
        <div *ngIf="replies.length > 0">
            <tr *ngFor="let repli of replies">
              <td>{{(repli.user.username === user.username) ? 'Me' : repli.user.name}}</td>
              <td> : </td>
              <td>{{repli.message}}</td>
              <td> waktu </td>
              <td>{{repli.time | date:'hh:mm:ss'}}</td>
            </tr>
        </div>
      </tbody>
    </table>
  </div>
  <div class="inputMessage">
    <form>
      <textarea id="message" name="message" rows="3" cols="50"
      [formControl]="message" placeholder="type a text"></textarea>
      <button mat-raised-button color="warn" type="button" (click)="sendMessage()">Submit</button>
    </form>
    <p>{{message.value}}</p>
  </div>
</div>
