<form [formGroup]="formInput" (ngSubmit)="onSubmit()" class="form">

    <div *ngIf="isFieldAjuVisible">
        <mat-form-field appearance="fill" class="item" >
            <mat-label>Nomor Aju</mat-label>
            <input formControlName="aju" id="aju" matInput nomorAjuDirective
            placeholder="Nomor Aju: 000000-000000-000000-000000" >
            <!-- <mat-hint align="end">{{input?.length?.value || 0}} / 24</mat-hint> -->
            <mat-error *ngIf="formInput.hasError('field2Required','nopen')">
                Jika menggunakan aju, maka nomor dan tanggal pendaftaran tidak perlu diisi/diabaikan saja</mat-error>
        </mat-form-field>    
    </div>
<div *ngIf="isFieldNopenVisible">
    <mat-form-field appearance="fill" class="item" >
        <mat-label>Nomor Pendaftaran</mat-label>
        <input formControlName="nopen" id="nopen" matInput 
            placeholder="Nomor Pendaftaran 6 digit angka: 000000"
            type="number">
        <!-- <mat-hint align="end">{{input?.length?.value || 0}} / 6</mat-hint> -->
        <mat-error *ngIf="formInput.hasError('field1Required','aju')">
            Jika Menggunakan nomor pendaftaran, maka tanggal harus diisi dan nomor aju dapat diabaikan</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="item">
        <mat-label>Tanggal Pendaftaran</mat-label>
        <input formControlName="pendate" id="pendate" matInput [matDatepicker]="picking">
        <mat-hint>Tanggal Pendaftaran (dd/MM/yyyy)</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picking"></mat-datepicker-toggle>
        <mat-datepicker #picking></mat-datepicker>
        <mat-error *ngIf="formInput.hasError('field3Required','nopen')">
            Jika Menggunakan nomor pendaftaran, maka tanggal harus diisi dan nomor aju dapat diabaikan</mat-error>
    </mat-form-field>
</div>

    <mat-form-field appearance="fill" class="item">
        <mat-label>Nama</mat-label>
        <input matInput formControlName="name" id="name" placeholder="Nama Perusahaan">
        <!-- <mat-hint align="end">{{input?.length?.value || 0}} / 100</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="fill" class="item">
        <mat-label>Problem</mat-label>
        <textarea matInput formControlName="problem" id="problem"
        placeholder="Permasalahan, silakan dijelaskan lengkap"></textarea>
    </mat-form-field>

    <div class="item" appearance="fill">
        <button type="submit" mat-raised-button color="primary" class="btn btn-success"
        [disabled]="formInput.invalid" [hidden]="formInput.invalid">Simpan</button>
        <button type="button" mat-raised-button color="warn"(click)='closeDialog()' >Batal</button>
    </div>
</form>
<!-- <p>myForm value: {{ formInput.value | json }}</p>
<p>myForm status: {{ formInput.status | json }}</p> -->