:host .form {
    font-size: 12px;
    display: grid;
    min-width: 350px;
    max-width: 400px;
}
.item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 8px;
    justify-self: stretch;
    justify-content: space-between;
    display: flex;
    column-gap: 2px;
}
button {
    display: flex;
    flex-grow: 1;
}