<mat-toolbar color="primary" *ngIf="isAuthorized" style="display: grid; grid-template-columns: 15% 15% 15% 40% 15%;" >
  <div class="dashboard">
    <button mat-button [routerLink]="['chats']">
      <mat-icon>group_work</mat-icon>
      Chat
    </button>
  </div>
  <div class="ticket">
    <button  mat-button routerLink="tickets">
      <mat-icon>work</mat-icon>
      Tiket
    </button>
  </div>
  <div class="profile">
    <button  mat-button routerLink="profil">
      <mat-icon>badge</mat-icon>
      Profil
    </button>
  </div>
  <div class="loginid">
    <button mat-button>
      Andal Login Sebagai {{user!.name}}
    </button>
  </div>
  <div class="logout">
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      LogOut
    </button>
  </div>

</mat-toolbar>
<router-outlet></router-outlet>