<mat-toolbar color="primary" *ngIf="isAuthorized">
  <button mat-button [routerLink]="['']">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </button>

  <button  mat-button routerLink="tickets">
    <mat-icon>work</mat-icon>
    Tiket
  </button>

  <button  mat-button routerLink="profil">
    <mat-icon>badge</mat-icon>
    Profil
  </button>

  <button mat-button>
    Andal Login Sebagai {{user!.role}}
  </button>

  <button mat-button (click)="logout()">
    <mat-icon>logout</mat-icon>
    LogOut
  </button>

</mat-toolbar>
<router-outlet></router-outlet>