<mat-toolbar color="primary" fxLayout="row" *ngIf="isAuthorized">
  <button  mat-button fxFlex  [routerLink]="['']">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </button>

  <button  mat-button fxFlex routerLink="tickets">
    <mat-icon>work</mat-icon>
    Tiket
  </button>

  <button  mat-button fxFlex routerLink="profil">
    <mat-icon>badge</mat-icon>
    Profil
  </button>

  <button mat-button>
    Andal Login Sebagai {{user!.name}}
  </button>

  <button mat-button fxFlex (click)="logout()">
    <mat-icon>logout</mat-icon>
    LogOut
  </button>

</mat-toolbar>
<router-outlet></router-outlet>