<button mat-raised-button 
(click)="openForm(null)"
>Tambah Pengguna</button>

<table mat-table [dataSource]="users">
  <!-- ID column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let user"> {{ user.id }} </td>
  </ng-container>

  <!-- Username column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let user"> {{ user.username }} </td>
  </ng-container>

  <!-- Name column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let user"> {{ user.name }} </td>
  </ng-container>

  <!-- Company column -->
  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef> Company </th>
    <td mat-cell *matCellDef="let user"> {{ user.company }} </td>
  </ng-container>

  <!-- Role column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Role </th>
    <td mat-cell *matCellDef="let user"> {{ user.role }} </td>
  </ng-container>

  <!-- Contact column -->
  <ng-container matColumnDef="contact">
    <th mat-header-cell *matHeaderCellDef> Contact </th>
    <td mat-cell *matCellDef="let user"> {{ user.contact }} </td>
  </ng-container>

    <!-- Action column -->
    <ng-container matColumnDef="aksi">
      <th mat-header-cell *matHeaderCellDef> Tindakan </th>
      <td mat-cell *matCellDef="let user">
        <button mat-raised-button (click)="openForm(user)">Edit</button>
        </td>
    </ng-container>

  <!-- Define the header row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Define the data rows -->
  <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>
</table>
<mat-paginator [hidden]="!users"
(page)="getData($event)"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 20]"
showFirstLastButtons>
</mat-paginator>