<div class="container">
  <form [formGroup]="form" class="form">
    <mat-form-field class="form-field">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" type="text" name="username">
    </mat-form-field>
  
    <mat-form-field class="form-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName='name' type="text" name="name">
    </mat-form-field>
  
    <mat-form-field class="form-field">
      <mat-label>Company</mat-label>
      <input matInput formControlName='company' type="text" name="company">
    </mat-form-field>
  
    <mat-form-field class="form-field">
      <mat-label>Role</mat-label>
      <input matInput formControlName='role' type="text" name="role">
    </mat-form-field>
  
    <mat-form-field class="form-field">
      <mat-label>Contact</mat-label>
      <input matInput formControlName='contact' type="text" name="contact">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="changePw()">Ubah Password</button>
  </form>
</div>