.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  max-width: 400px;
  width: 100%;
}

.form-field {
  width: 100%;
}
